body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    background-image: url("/images/background.png");
    font-family: 'Source Sans Pro', sans-serif;

}


.chart-container {
  position: relative;
  margin: auto;
  height: 58vh;
  width: 80vw;
}

.bordered {
    border-radius: 5px;
    border: 2px solid #04AA6D;
    padding: 10px 20px;
}


.m-btn{
      text-decoration: none;
      font-size: 22px;
      border-radius: 5px;
      padding: 8px 16px;
      font-family: 'Source Sans Pro', sans-serif;
}

.small-btn{
      text-decoration: none;
      font-size: 18px;
      border-radius: 4px;
      padding: 2px 12px;
      font-family: 'Source Sans Pro', sans-serif;
}

.m-btn:hover{
    box-shadow: none;
}

.m-btn-green{
    color: white;
    background-color: #04AA6D;
    border-color: #04AA6D;
}

.m-btn-blue{
    color: black;
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
}

.m-btn-orange{
    color: black;
    background-color: orange;
    border-color: orange;
}

.m-btn-gray{
    color: black;
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}

.m-btn-green:hover{
    background-color: #059862 !important;
}

.m-btn-blue:hover{
    background-color: #0d8bf2 !important;
}

.m-btn-orange:hover{
    background-color: #ff8c00;
}

.m-btn-gray:hover{
    background-color: gray;
}

.auswahlLink{
    margin: auto;
}

.auswahlLinkSelected{
    color: black;
}

.spacer{
    height: 40px;
}

.titel{
    display: flex;
    background-color: cyan;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size:35px;
    border-radius: 5px;
}

.titel-font {
    font-size:40px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.jc-left{
    justify-content: left;
}

.jc-center{
    justify-content: center;
}

.row-block-distance-40{
    margin-left: 40px;
}

.row-block-distance-60{
    margin-left: 60px;
}

.pageEnd {
    height: 160px;
}

.btn-stacked-width {
	width: 200px;
}