body {
    background-color: #f6f6f6;
    background-image: url("/images/background.jpg");
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 65vh;
  width: 80vw;
}

.main-con{
    width: 80%;
    margin: auto;
}

.bordered {
    border-radius: 5px;
    border: 3px solid #04AA6D;
    padding: 10px 20px;
}

.bordered-blue {
    border-radius: 5px;
    border: 3px solid #2196F3;
    padding: 10px 20px;
}

.bordered-orange {
    border-radius: 5px;
    border: 3px solid orange;
    padding: 10px 20px;
}

.bordered-gray {
    border-radius: 5px;
    border: 3px solid gray;
    padding: 10px 20px;
}

.bordered-black {
    border-radius: 5px;
    border: 3px solid black;
    padding: 10px 20px;
}

.m-btn{
      text-decoration: none;
      font-size: 22px;
      border-radius: 5px;
      padding: 8px 16px;
      font-family: 'Source Sans Pro', sans-serif;
}

.small-btn{
      text-decoration: none;
      font-size: 18px;
      border-radius: 4px;
      padding: 2px 12px;
      font-family: 'Source Sans Pro', sans-serif;
}

.m-btn:hover{
    box-shadow: none;
}

.m-btn-green{
    color: white;
    background-color: #04AA6D;
    border-color: #04AA6D;
}

.m-btn-blue{
    color: black;
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
}

.m-btn-orange{
    color: black;
    background-color: orange;
    border-color: orange;
}

.m-btn-gray{
    color: black;
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}

.m-btn-green:hover{
    background-color: #059862 !important;
}

.m-btn-blue:hover{
    background-color: #0d8bf2 !important;
}

.m-btn-orange:hover{
    background-color: #ff8c00;
}

.m-btn-gray:hover{
    background-color: gray;
}

.auswahlLink{
    margin: auto;
}

.auswahlLinkSelected{
    color: black;
}

.spacer{
    height: 40px;
}

.titel{
    display: flex;
    height: 100px;
    font-size:35px;
    color: white;
    background: linear-gradient(to right, #637cf9 20%, #243743 20%);
    margin: 0px;
}
.white-text{
    color: white;
    text-decoration: none;
}

.titel-container{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn{
    font-family: Open Sans,Helvetica Neue,helvetica,arial,sans-serif;
    font-size: 22px;
    color: white;


}

.login-button{
    text-decoration: none;
    background-color: #6376f9;
    color: white;
    border: 2px #6376f9 solid;
    border-radius: 5px;
    padding: 12px 20px;
    font-family: Open Sans,Helvetica Neue,helvetica,arial,sans-serif;
    font-size: 22px;
    font-weight: 600;
    transition: all .25s ease-in;
}

.login-button:hover{
  color: #9cb8ca;
  border: 2px solid #6376f9;
  background: transparent;
}
.loged-in-img{
    background: url(/images/user-icon.jpeg) no-repeat center center;
    margin-right: 20px;
    background-size: 40px;
    height: 40px;
    width: 40px;
    mix-blend-mode: multiply;
}
.h-logo-con{
    transition: transform .3s;
    display: flex;
     align-items: center;
}
.header-logo{
    background: url("/images/icon-header.png") no-repeat center center;
    width: 100px;
    height: 100px;
    #float: left;
    background-size: 75px 75px;

}
.h-logo-con:hover{
    transform: scale(1.05);
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.titel-font {
    font-size:40px;
    text-align: center;
}

.small-font {
    font-size:18px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.jc-left{
    justify-content: left;
}

.jc-center{
    justify-content: center;
}

.row-block-distance-40{
    margin-left: 40px;
}

.row-block-distance-60{
    margin-left: 60px;
}

.pageEnd {
    height: 160px;
}

.btn-stacked-width {
	width: 200px;
}


 /* Dropdown Button */
.dropbtn {
        background-color: #121c22;
        color: white;
        padding: 8px 17px;
        border-radius: 32px;
        line-height: 1;
        font-family: "Open Sans","Helvetica Neue",helvetica,arial,sans-serif;
        border: 0;
        font-size: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Open Sans","Helvetica Neue",helvetica,arial,sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
border-radius: 0px;
    display: none;
  position: absolute;
  background-color: #1b2932;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 8px;
    text-decoration: none;
    display: block;
    font-family: "Open Sans","Helvetica Neue",helvetica,arial,sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #9cb8ca;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}